@import url('https://fonts.googleapis.com/css?family=Roboto');

html{
  background: url(https://i.imgur.com/iclEoRG.jpg) no-repeat center center fixed;
  background-size: cover;

}

body {
  text-align: center;
  margin: 15px auto;
  max-width: 1000px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
}

b {
  color: #6FFF44;
  text-decoration: none;
}

a {
color: #FF2B2A;
text-decoration: none;
}


.homevid {
  background-color: #E8CF47;
  padding: 5px;
}


.video_background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1000;
}
